{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div class="py-4">
   
    <div class="d-flex justify-content-between w-100 flex-wrap">
      <div class="mb-3 mb-lg-0">
        <h1 class="h4">Web项目架构：
        </h1>
        <p class="mb-0">前端：Bootstrap、Vue.js</p>
        <p class="mb-0">后端：Django框架；Nginx web服务器；Docker部署Galaxy和Shiny</p>
      </div>

  </div>

 <img src="{% static 'images/web.svg' %}" height="80%" width="90%" alt="Description of your SVG image">




 {% endblock content %}